@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');



*{
    background-color: #F59C35;
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    margin:  0 auto;
}
nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid;
    padding: 10px 0px;
    text-transform: uppercase;
   
}
nav a:hover{
    color:#26B3FB;
    border-bottom: 2px solid #405159;
}
nav ul{
    list-style-type: none;
}
nav li{
    float: left;
    width: 25%;
    text-align: center;
}
nav ul::after{
    content: "";
    display: table;
    clear: boath;
}

  .grid-container {
    display: grid;
    float: left;
    text-align: center;
    grid-template-columns: 6fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 10px 0px;
    grid-template-areas:
      "title"
      "photo"
      "desc"
      "cart";
  }
  
  .title {
    color: #26B3FB;
    font-size: 3.5em;
    text-decoration: underline #405159;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "back . ."
      "back . .";
    grid-area: title;
  }
  
  .back { grid-area: back; }
  
  .photo { grid-area: photo;
 }
  
  .desc { grid-area: desc;
  text-align: center;
  font-size: 20px;
  border: #405159 solid;
  font-size: 1.5em;
}
  .cart { grid-area: cart; }

  .imgclass{
      max-width: 100%;
      text-align: center;
  }
  .backclass{
      max-width: 100%;
  }
  .pacceuil{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #405159;
    text-align: center;
    color: white;
  }
  body > div > div.cart > a{
    border: #405159 solid;
    display:inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    text-decoration: none;
  }