@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');



  *{
    background-color: #F59C35;
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


nav{
    width: 100%;
    margin:  0 auto;
}
nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid;
    padding: 10px 0px;
    text-transform: uppercase;
   
}
nav a:hover{
    color:#26B3FB;
    border-bottom: 2px solid #405159;
}
nav ul{
    list-style-type: none;
}
nav li{
    float: left;
    width: 25%;
    text-align: center;
}
nav ul::after{
    content: "";
    display: table;
    clear: boath;
}

  a {
    text-decoration: none;
  }
  
  .button {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    background: steelblue;
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  
  
  
  
  .products {
    display: flex;
    float: left;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 310px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: white;
    background-color: white;
  }
  
  
  .product span {
    font-weight: bold;
  }
  
  .product-image img {
    display: block;
    max-width: 228px;
    width: 100%;
    margin: 0 auto;
  }
  
  
  .row .product:last-child {
    margin-right: 0;
  }
  
  .product-add-to-cart {
    overflow: hidden;
    clear: both;
    margin-top: 10px;
    background: white;
  }
  
  .see-more {
    float: left;
    background: indianred;
  }
  
  .add-to-cart {
    float: right;
  }
  
  .shopping-cart {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 20px;
    background: white;
  }
  .product-price{
    background: white;
  }
  span{
    background: white;
  }
  .product-name{
    background: white;
  }
  body > div > div.shopping-cart > div.shopping-cart-head > span{
    background: #4682B4;
  }
  
  .shopping-cart-head {
    background: steelblue;
    color: white;
    padding: 5px;
  }
  
  .shopping-cart,
  .shopping-cart-head {
    border-radius: 5px;
  }
  
  .empty-cart-btn,
  .cart-checkout {
    display: none;
    
  }
  
  .empty-cart-btn {
    margin-bottom: 5px;
  }
  
  .cart-checkout {
    background: limegreen;
  }
  body > div > div.shopping-cart > ul > li{
   background: white;
 }
 body > div > div.shopping-cart > div.cart-buttons > a.button.cart-checkout > span{
   background: #32CD32;
 }